<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My template</title>
    <meta name="description" content="My template">
    <style>
		body {
			background-color: #2D2D2D;
		}
		
		h1 {
			color: #C26356;
			font-size: 30px;
			font-family: Menlo, Monaco, fixed-width;
		}
		
		p {
			color: white;
			font-family: "Source Code Pro", Menlo, Monaco, fixed-width;
		}

        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        .styled-table thead tr {
            background-color: #C26356;
            color: #ffffff;
            text-align: left;
        }
        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }
        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #eeeeee;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #C26356;
        }
        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #C26356;
        }

        pre code {
            background-color: #eee;
            border: 1px solid #999;
            display: block;
            padding: 2px;
        }
	</style> 
</head>
<body class="">

<h1> * {{ ansible_hostname }}({{ ansible_host }}) Ansiblde Facts</h1>
<p>
{% for host in hostvars[inventory_hostname] %} 
<pre>
<code>
<strong>{{ host }} : </strong> </BR>
{{ hostvars[inventory_hostname][host] | to_nice_json(indent=1)}} 
</code>
</pre> 
{% endfor %}
</p> 
<!-- scripts -->

</body>
</html>